*
{
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body
{
    background-color: #090909;
}
#nav-bar
{
    height:5em;
    width:100%;
    color:whitesmoke;
    background-color:#188FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-bar h1{
    font-size:3em;
    font-weight:900;
}


#container
{
    height:25em;
    width: 90%;
    max-width: 50em;
    background-color:#188FFF;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:1px solid white;
}
  #input::placeholder {
      text-align: center;
  }
   #input {
       text-align: center;
   }
#exchange-rates
{
    height:20%;
    width:80%;
    background-color: #d6e9f4;
    margin: 1%;;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: larger;
}


.currency
{
    display: flex;
    flex-direction: row;
    margin:1%;
    height:20%;

}

.input-wrapper input
{
    height: 30px;
    border: none;
    padding: 10px;
    border-radius: 3px;
}
.input-wrapper input:focus {
    outline: none;
    border:2px solid #05407a;
}
.input-wrapper button {
    height: 50px;
    width:200px;
    border: none;
    padding: 10px;
    border-radius: 3px;
}

.input-wrapper button:focus {
    outline: none;
    border: 2px solid #05407a;
}
.custom-dropdown {
    display: inline-block;
    margin-left: 10px;
}

.custom-dropdown select {
    height: 50px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin: 0;
        background-color: #d6e9f4;
}

.buttons button
{
    height:5em;
    width:10em;
    border:none;
    margin-left: 5px;;
    vertical-align: top;
    background-color: #50C878;
}

@media (max-width: 768px) {
    #nav-bar h1 {
        font-size: 2em;
    }
    #container {
        height: 40em;
        width: 90%;
        margin-top: 4em;
        margin-left:0em;;
    }

    .currency {
        display: flex;
        flex-direction: column;
        height: auto;
    }  
    .buttons button {
        width: 19em;
        border: none;
        padding: 10px;
        border-radius: 3px;
        margin-top: 1em;
        margin-left: 3em;
        height: 80px;
    }
    .input-wrapper input,
    .input-wrapper button {
            width: 20em;
            height: 30px;
            margin-left: 1em;
            margin-top: 1em;
    }
        
    .input-wrapper button {
            height: 50px;
            width: 21.5em;
           
    }
    .custom-dropdown {
        display: block;
        margin-top: 1em;
        width: 15em;
            margin-left: 4em;;
        padding:0;
        /* Adjusted margin-top for separation */
    }

    .custom-dropdown select {
        width: 100%;
        /* Full width for smaller screens */
        height: 50px;
        padding: 5px;
        border-radius: 3px;
        border: none;
        margin: 0;
    }
}